ul#horizontal-list {
  /* display: inline-flex;
  flex-direction: column;
  list-style: none; */
  margin: 0;
  padding: 0 0 0 20px;
  overflow: hidden;
}

ul#horizontal-list li {
  /* display: inline; */
  display: inline-block;
  margin: 10px;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}

ul li::before {
  content: "\200B";
}

.opponent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: rgb(37, 37, 151);
  box-shadow: 5px 5px 10px rgb(3, 3, 62);
  border: .5rem;
  border-radius: .5rem;
}

.opponent:first-child {
  margin: 0;
}

.opponent svg {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
  position: absolute;
  right: 4rem;
}

.opponent svg:focus, 
.opponent svg:hover {
  color: red;
  outline: none;
}

label#opponentLabel {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

label#opponentLevel {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

label#opponentXp {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}


img#funnigif {
  box-shadow: 5px 5px 10px rgb(3, 3, 62);
  border: .5rem;
  border-radius: .5rem;
}

h4 {
  position: relative;
  text-align: center;
}


#authors svg {
  width: 24px;
  min-width: 24px;
  height: 18px;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: inherit;
  right: 4rem;
}

#authors svg:focus, 
#authors svg:hover {
  color: #00ff00;
  outline: none;
}

#gauge svg {
  width: 192px;
  min-width: 48px;
  height: 144px;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: inherit;
  right: 4rem;
}
