ul#horizontal-list-centered {
  display: flex;
  /*flex-direction: column;
  list-style: none; */
  margin: 0;
  padding: 0 0 0 20px;
  overflow: hidden;
  justify-content: center    
}

ul#horizontal-list li {
  /* display: inline; */
  display: inline-block;
  margin: 10px;
}

ul#horizontal-list-centered li {
  /* display: inline; */
  display: inline-block;
  margin: 10px;    
  justify-content: center  
}
li#highlight:hover {
  color: yellow;
  font-size: 150%;
}

.castle :focus, 
.castle :hover {
  color:darkorange;
  outline: none;
}

[type="about"] {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
}

#about, svg:focus, 
#about, svg:hover {
  color: rgb(255, 255, 0);
  outline: none;
}

h1#uname {
  font-size:xx-large;
}