.input{
    position: relative;
    display: flex;
    justify-content: space-between;
    border: .5rem;
    border-radius: .5rem;
    border-color: rgb(0, 24, 46);
    background-color: #252597;
    width: 4rem;
    height: 4rem;
    margin: .3rem;
    box-shadow: 0px 0px 5px #252597;
}